.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    max-width: 32rem;
    margin: 0 auto;
  }
  
  .about-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .about-container p {
    color: #a1a1aa;
  }
  
  .about-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .about-container ul {
    list-style-type: disc;
    padding-left: 1.25rem;
  }
  
  .about-container ul li {
    color: #a1a1aa;
  }
  